{% extends 'base.html' %}

{% block content %}
<div class="question-page">
    <div class="question-container">
        <h2 class="question-title">Answer</h2>
        <p class="question-text">Your answer: {{ submitted_answer.text }}</p>
        <p class="question-text">Correct answer: {{ answer.text }}</p>

        <form method="post" action="{% url 'get-questions' %}" class="question-form">
            {% csrf_token %}
            <input type="hidden" name="quiz_id" value="{{ submitted_answer.question.quiz.id }}">
            <button type="submit" class="submit-button">Next Question</button>
        </form>
    </div>
</div>
{% endblock %}