{% extends 'base.html' %}

{% block content %}
<div class="signup-page">
    <div class="signup-container">
        <h2 class="signup-title">Delete Question</h2>
        <p class="form-group">Are you sure you want to delete this question? This action cannot be undone.</p>
        <form method="post" class="signup-form">
            {% csrf_token %}
            <div class="button-container">
                <button type="submit" class="signup-button">Delete Question</button>
            </div>
        </form>
        <div class="button-container">
            <a href="{% url 'quiz-detail' question.quiz.id %}" class="signup-button">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}