{% extends 'base.html' %}

{% block content %}
<div class="signup-page">
    <div class="signup-container">
        <h2 class="signup-title">Update Quiz</h2>
        <form method="post" class="signup-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="button-container">
                <button type="submit" class="signup-button">Submit</button>
            </div>
        </form>
        <div class="button-container">
            <a href="{% url 'quiz-manage' %}" class="signup-button">Back to Quizzes</a>
        </div>
    </div>
</div>
{% endblock %}