{% extends "base.html" %}

{% block content %}
<h1>Our site name</h1>

<h2>Sample Quizzes:</h2>
{% for topic in topics %}
    <div>
        {% if topic.series_info %}
            <img src="{{ topic.series_info.Poster }}" alt="{{ topic.series_info.Title }}" style="width: 100px;">
        {% endif %}
        <div>
            <h2>{{ topic.name }}</h2>
            {% if topic.series_info %}
                <p>Series: {{ topic.series_info.Title }}</p>
            {% endif %}
            <p>Questions: {{ topic.questions_count }}</p>
            <form method="post" action="{% url 'get-questions-start' %}">
                {% csrf_token %}
                <input type="hidden" name="quiz_id" value="{{ topic.id }}">
                <button type="submit">Start Quiz</button>
            </form>
        </div>
    </div>
{% endfor %}
{% endblock content %}