{% extends "base.html" %}
{% block title %}Profile{% endblock %}


{% block content %}

  <h1>{{ profile_user.username }}'s Profile</h1>

  {% if is_own_profile %}
    <p>Welcome to your profile!</p>
    <p>Email: {{ profile_user.email }}</p>
    <img src="{{ profile_user.profile_picture.url }}" alt="Profile Picture" style="max-width:200px;">
    <p>Bio: {{ profile_user.bio }}</p>
    <li><a href="{% url 'profile_update' %}">Update profile</a></li>
    <p>Quizzes:</p>
    <ul>
      {% for quiz in user.quiz_set.all %}
      <li>
          {{ quiz.name }}
          {{ quiz.id }}
          <form method="post" action="{% url 'get-questions-start' %}">
              {% csrf_token %}
              <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
              <button type="submit">Start ur own quiz</button>
          </form>
          <a href="{% url 'quiz-detail' quiz.id %}"><button>View</button></a>
          <a href="{% url 'quiz-update' quiz.id %}"><button>Edit</button></a>
          <a href="{% url 'quiz-delete' quiz.id %}"><button>Delete</button></a>
      </li> <br>
  {% empty %}
      <li>No quizzes found.</li>
  {% endfor %}
    </ul>
    <!-- Other fields you want to display -->
  {% else %}
    <p>You are viewing {{ profile_user.username }}'s profile.</p>
    <img src="{{ profile_user.profile_picture.url }}" alt="Profile Picture" style="max-width:200px;">
    <p>Bio: {{ profile_user.bio }}</p>
    <!-- Optionally display more information about the other user's profile -->
    <ul>
      <p>Quizzes:</p>
      {% for quiz in profile_user.quiz_set.all %}
      <li>
          {{ quiz.name }}
          {{ quiz.id }}
          <form method="post" action="{% url 'get-questions-start' %}">
              {% csrf_token %}
              <input type="hidden" name="quiz_id" value="{{ quiz.id }}">
              <button type="submit">Start</button>
          </form>
      </li>
  {% empty %}
      <li>No quizzes found.</li>
  {% endfor %}
    </ul>
  {% endif %}
  <p>Quizzes Resuls:</p>
  {% for qresult in user.quizresult_set.all %}
    <p>{{ qresult.quiz.name }} {{ qresult.score }}/{{ qresult.total_questions }} {{ qresult.percentage }}%</p>

  {% endfor %}
  <!-- Other profile content -->
{% endblock %}