{% extends "base.html" %}
{% block title %}Profile{% endblock %}


{% block content %}

  <h1>{{ profile_user.username }}'s Profile</h1>

  {% if is_own_profile %}
    <p>Welcome to your profile!</p>
    <p>Email: {{ profile_user.email }}</p>
    <img src="{{ profile_user.profile_picture.url }}" alt="Profile Picture" style="max-width:200px;">
    <p>Bio: {{ profile_user.bio }}</p>
    <li><a href="{% url 'profile_update' %}">Update profile</a></li>
    <!-- Other fields you want to display -->
  {% else %}
    <p>You are viewing {{ profile_user.username }}'s profile.</p>
    <img src="{{ profile_user.profile_picture.url }}" alt="Profile Picture" style="max-width:200px;">
    <p>Bio: {{ profile_user.bio }}</p>
    <!-- Optionally display more information about the other user's profile -->
  {% endif %}
  
  <!-- Other profile content -->
{% endblock %}